/* ===================================
   SECTION
=================================== */

.founder-header {
  background: #282560;
  color: white;

  padding: 90px 5%;
}

.top-line {
  width: 100%;
  height: 1px;

  background: rgba(255, 255, 255, 0.15);

  margin-bottom: 50px;
}

/* ===================================
   LAYOUT
=================================== */

.founder-container {
  max-width: 1250px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 280px 1fr;

  gap: 180px;
  align-items:center;
}

/* ===================================
   IMAGE
=================================== */

.founder-image {
  position: relative;

  width: 100%;
  height: 300px;

  overflow: hidden;

  border-radius: 16px;
}

.founder-image img {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;
  object-position: center 40%;
}

/* ===================================
   NAME CARD
=================================== */

.name-card {
  position: absolute;
  width: 95%;

  left: 8px;
  bottom: 5px;

  background: rgba(40, 37, 96, 0.95);

  padding: 14px 20px;

  border-left: 4px solid #c1976b;
}

.name-card h4 {
  margin: 0 0 4px;
  font-size: 20px;
}

.name-card span {
  color: #c1976b;
  font-size: 11px;
  letter-spacing: 1px;
}

/* ===================================
   CONTENT
=================================== */

.founder-content {
  max-width: 700px;
}

.label-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.line {
  width: 35px;
  height: 1px;
  background: #c1976b;
}

.label {
  color: #c1976b;
  font-size: 12px;
  letter-spacing: 1px;
}

.founder-content h1 {
  font-size: clamp(2.4rem, 5vw, 4rem);
  line-height: 1.1;

  margin-bottom: 15px;
}

.highlight {
  color: #c1976b;
  font-style: italic;
}

.subtitle {
  color: #d7d5e9;

  margin-bottom: 30px;

  line-height: 1.8;
}

.quote {
  position: relative;

  padding-left: 30px;
}

.quote-mark {
  position: absolute;

  left: 0;
  top: -10px;

  font-size: 42px;

  color: rgba(255, 255, 255, 0.15);
}

.quote p {
  font-size: 18px;
  line-height: 1.9;

  color: #ecebf4;
}

.bottom-line {
  width: 180px;
  height: 1px;

  background: rgba(255, 255, 255, 0.15);

  margin: 30px 0 15px;
}

.author {
  color: #c1976b;
  font-size: 14px;
}

/* ===================================
   LAPTOP
=================================== */

@media (max-width: 1200px) {

  .founder-container {
    grid-template-columns: 260px 1fr;
    gap: 60px;
  }

  .founder-image {
    height: 300px;
  }
}

/* ===================================
   TABLET
=================================== */

@media (max-width: 992px) {

  .founder-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .founder-image {
    max-width: 300px;
    width: 100%;

    height: 300px;

    margin: 0 auto;
  }

  .founder-content {
    text-align: center;
    max-width: 100%;
  }

  .label-row {
    justify-content: center;
  }

  .bottom-line {
    margin-left: auto;
    margin-right: auto;
  }

  .quote {
    padding-left: 0;
  }

  .quote-mark {
    display: none;
  }
}

/* ===================================
   MOBILE
=================================== */

@media (max-width: 768px) {

  .founder-header {
    padding: 70px 20px;
  }

  .founder-image {
    max-width: 300px;
    height: 300px;
  }

  .quote p {
    font-size: 16px;
  }
}

/* ===================================
   SMALL MOBILE
=================================== */

@media (max-width: 480px) {

  .founder-image {
    max-width: 280px;
    height: 280px;
  }

  .name-card {
    padding: 10px 14px;
  }

  .name-card h3 {
    font-size: 15px;
  }

  .founder-content h1 {
    font-size: 32px;
  }

  .subtitle {
    font-size: 14px;
  }
}